:root{
  --backgroundColorLight: #fafafa;
  --textColorDark: #333;
  --textColorLight: #fff;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
p, a, span, div{
  color: var(--textColorDark);
}


body{
  background: var(--backgroundColorLight);
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Quicksand', sans-serif;
}

/* 
*
* HEADER
*
*/

header#masthead{
  padding: 20px;
  background: coral;
}
.header-inner{
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

header#masthead h1.site-title{
  margin: 0;
}
header#masthead h1.site-title a{
  text-decoration: none;
  color: var(--textColor);
}

header#masthead nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

header#masthead nav button.menu-toggle{
  z-index: 10;
}

header#masthead nav.toggled ul#primary-menu {
  position: absolute;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 127, 79, .8);
  width: 100vw;
  height: 100vh;
}

header#masthead nav ul li{
  margin-left: 10px;
  text-transform: uppercase;
}

header#masthead nav ul li a{
  color: var(--textColor);
}

header#masthead nav ul li a:hover{
  color: var(--textColorLight);
}

@media only screen and (max-width: 60px){
  header#masthead nav button.menu-toggle{
    /* z-index: 10; */
  }
  header#masthead nav .menu-menu-1-container ul{
    /* background: rgba(255, 127, 79, .8);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left:0;
    padding: 80px; */
  }
  header#masthead nav .menu-menu-1-container ul li{
    /* margin: 0 au to; */
  }
}



/* 
*
* MAIN
*
*/

main.site-main{
  box-sizing: inherit;
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 920px) {
  main.site-main{
    padding: 0;
  }
}

/* 
*
* FOOTER
*
*/

footer.site-footer{
  padding: 0 20px;
  background: coral;
}

footer.site-footer .site-info{
  padding: 20px 0;
  max-width: 900px;
  margin: 0 auto;
}