:root{
  --backgroundColorLight: #fafafa;
  --white: #fff;
  --darkGrey: #333;
  --headingFont: 'Poppins', sans-serif;
  --textFont: Arial, sans-serif;
}

/*
*   firstBreakpoint: 600px; 
*   secondBreakpoint: 920px;
*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
p, a, span, div{
  color: var(--textColorDark);
  font-family: var(--textFont);
}


body{
  background: var(--backgroundColorLight);
  margin:0;
}
body.page{
  margin:0;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--headingFont);
}

/* 
*
* HEADER
*
*/

header#masthead{
  padding: 40px 30px;
  /* background: linear-gradient(90deg, rgba(8,76,113,1) 0%, rgba(13,126,151,1) 100%); */
  background: #fafafa;
  color: #333;
}
.header-inner{
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

header#masthead h1.site-title{
  margin: 0;
  z-index: 999999999;
}

@media only screen and ( min-width: 920px){
  header#masthead h1.site-title{
    font-size: 48px;
  }
}
header#masthead h1.site-title a{
  text-decoration: none;
  color: var(--darkGrey);
  font-family: var(--headingFont);
}

/* header menu */

header#masthead nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

header#masthead nav div#menu-button{
  z-index: 10;
  width: 30px;
}

header#masthead nav div#menu-button:hover{
  cursor:pointer;
}

header#masthead nav.toggled .menu-menu-1-container {
  position: absolute;
  top:0;
  left:0;
  z-index: 5;
  background: #fff;
  width: 100vw;
  height: 100vh;
}
header#masthead nav.toggled .menu-menu-1-container #primary-menu {
  position: absolute;
  bottom: 50px;
  font-size: 38px;
  left: 30px;
}

header#masthead nav ul li{
  margin-left: 10px;
  text-transform: uppercase;
}

header#masthead nav ul li a{
  color: var(--darkGrey);
  font-family: var(--headingFont);
  display: inline-block;
  font-weight: 900;
  margin-bottom: 10px;
  background-image: linear-gradient(rgb(176, 251, 188), rgb(176, 251, 188)),
  linear-gradient(#feb2b2, #feb2b2);
  background-size: 100% 4px, 0 4px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: all .3s linear;
}

header#masthead nav ul li a:before{
  content:"→";
  position: absolute;
  top:0;
  left:0;
  opacity:0;
  transition: .3s ease;
}

header#masthead nav ul li a:hover{
  transition: all .3s linear;
  padding-left:50px;
  background-size: 0 4px, 100% 4px;
}

header#masthead nav ul li a:hover::before{
  opacity: 1;
  transition: 1s ease;
}

@media only screen and (min-width: 600px){
  header#masthead nav ul li a{
    background-size: 100% 2px, 0 2px;
    font-size: 18px;
  }
  header#masthead nav ul li a:hover{
    padding-left: 20px;
    background-size: 0 2px, 100% 2px;
  }
}

@media only screen and (min-width: 1200px){
  header#masthead nav ul li{
    margin-left:40px;
  }
    header#masthead nav ul li a{
    background-size: 100% 2px, 0 2px;
    font-size: 18px;
  }
  header#masthead nav ul li a:hover{
    padding-left: 30px;
    background-size: 0 2px, 100% 2px;
  }
}


/* 
*
* MAIN
*
*/

main.site-main{
  box-sizing: inherit;
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 920px) {
  main.site-main{
    padding: 0;
  }
}

/* 
*
* FOOTER
*
*/

footer.site-footer{

  min-height: 300px;;
  padding: 0 20px;
  background: #ccc;
  color: var(--darkGrey);
}

footer.site-footer .site-info{
  padding: 20px 0;
  max-width: 900px;
  margin: 0 auto;
}